@import "tailwindcss";

@theme {
  --font-sans: "Poppins";
  --font-body: "Lato";

  --color-drab-950: #04070b;
  --color-drab-900: #1c2732;
  --color-drab-800: #2c3b4a;
  --color-drab-700: #405469;
  --color-drab-600: #57728d;
  --color-drab-500: #6f90b0;
  --color-drab-400: #88acd1;
  --color-drab-300: #b4c9e1;
  --color-drab-200: #c6d5e8;
  --color-drab-100: #d7e2ef;
  --color-drab-50: #f1f4f9;

  --color-dark-950: #04070b;
  --color-dark-900: #05090d;
  --color-dark-800: #090e14;
  --color-dark-700: #101820;
  --color-dark-600: #18222c;
  --color-dark-500: #23303d;
  --color-dark-400: #2e3d4d;
  --color-dark-300: #354759;
  --color-dark-200: #3d5165;
  --color-dark-100: #43586d;
  
  --color-beaker-950: #001912;
  --color-beaker-900: #002c21;
  --color-beaker-800: #004233;
  --color-beaker-700: #005e4a;
  --color-beaker-600: #007f64;
  --color-beaker-500: #009f7f;
  --color-beaker-400: #00be98;
  --color-beaker-300: #00d4aa;
  --color-beaker-200: #00efc0;
  --color-beaker-100: #00fdcc;
  --color-beaker-50: #ccffed;

  --color-red-950: #2d0709;
  --color-red-900: #520408;
  --color-red-800: #750e13;
  --color-red-700: #a2191f;
  --color-red-600: #da1e28;
  --color-red-500: #fa4d56;
  --color-red-400: #ff8389;
  --color-red-300: #ffb3b8;
  --color-red-200: #ffc5c9;
  --color-red-100: #ffd7d9;
  --color-red-50: #fff1f1;

  --color-orange-950: #231000;
  --color-orange-900: #3e1a00;
  --color-orange-800: #5e2900;
  --color-orange-700: #8a3800;
  --color-orange-600: #ba4e00;
  --color-orange-500: #eb6200;
  --color-orange-400: #ff832b;
  --color-orange-300: #ffb784;
  --color-orange-200: #ffc8a2;
  --color-orange-100: #ffd9be;
  --color-orange-50: #fff2e8;

  --color-yellow-950: #1c1500;
  --color-yellow-900: #302400;
  --color-yellow-800: #483700;
  --color-yellow-700: #684e00;
  --color-yellow-600: #8e6a00;
  --color-yellow-500: #b28600;
  --color-yellow-400: #d2a106;
  --color-yellow-300: #f1c21b;
  --color-yellow-200: #f9cf2e;
  --color-yellow-100: #fddc69;
  --color-yellow-50: #fcf4d6;

  --color-green-950: #071908;
  --color-green-900: #022d0d;
  --color-green-800: #044317;
  --color-green-700: #0e6027;
  --color-green-600: #198038;
  --color-green-500: #24a148;
  --color-green-400: #42be65;
  --color-green-300: #6fdc8c;
  --color-green-200: #89e7a2;
  --color-green-100: #a7f0ba;
  --color-green-50: #defbe6;

  --color-teal-950: #081a1c;
  --color-teal-900: #022b30;
  --color-teal-800: #004144;
  --color-teal-700: #005d5d;
  --color-teal-600: #007d79;
  --color-teal-500: #009d9a;
  --color-teal-400: #08bdba;
  --color-teal-300: #3ddbd9;
  --color-teal-200: #74e6e5;
  --color-teal-100: #9ef0f0;
  --color-teal-50: #d9fbfb;

  --color-blue-950: #001141;
  --color-blue-900: #001d6c;
  --color-blue-800: #002d9c;
  --color-blue-700: #0043ce;
  --color-blue-600: #0f62fe;
  --color-blue-500: #4589ff;
  --color-blue-400: #78a9ff;
  --color-blue-300: #a6c8ff;
  --color-blue-200: #bbd5ff;
  --color-blue-100: #d0e2ff;
  --color-blue-50: #edf5ff;

  --color-purple-950: #1c0f30;
  --color-purple-900: #31135e;
  --color-purple-800: #491d8b;
  --color-purple-700: #6929c4;
  --color-purple-600: #8a3ffc;
  --color-purple-500: #a56eff;
  --color-purple-400: #be95ff;
  --color-purple-300: #d4bbff;
  --color-purple-200: #decaff;
  --color-purple-100: #e8daff;
  --color-purple-50: #f6f2ff;
}

* {
  box-sizing: border-box;
}

#root {
  @apply h-screen w-screen;
}